* {
    background-color: rgb(182, 182, 182);
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.titulo {
    color: white;
    border-radius: 7px;
    border: 3px solid rgb(77, 77, 77);
    background-color: rgb(122, 122, 122);
    display: inline-block;
    padding: 1.3rem;

    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.navegacao {
    display: inline-block;
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
}



#a1,
#a2,
#a3,
#a4 {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;

    margin-right: 3rem;
    margin-left: 2rem;
    transition-duration: 0.4s;
}

.navegacao>a:hover {
    color: black;
    border-radius: 150px;
    background-color: rgb(143, 143, 143);
    transition: 0.4s;
}

.navegacao>a:link {
    color: black;
}
.navegacao>a:visited{
color: black;
}

